<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuccessFlow - Proyecto Elegido</title>
    <link rel="icon" th:href="@{/images/lockup-light-background.png}" type="image/png">
    <script src="https://kit.fontawesome.com/563f11c9fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/FetchProyectoConId.css}">
</head>

<body>
    <div class="side-bar">
        <div class="logo">
            <img th:src="@{/images/icon-color.png}" alt="icon color">
            <img th:src="@{/images/wordmark-black.png}" alt="word mark">
        </div>
        <nav>
            <a th:href="@{/dashboard}" class="dashboard-link">
                <i class="fa-solid fa-chart-simple"></i>
                Dashboard
            </a>
            <a th:href="@{/tarea/listar-todo}" class="dashboard-link">
                <i class="fa-regular fa-square-check"></i>
                Mis Tareas
            </a>
            <a th:href="@{/proyecto/listar-proyectos}" class="dashboard-link-is-active">
                <i class="fa-solid fa-folder-tree"></i>
                Proyectos
            </a>
            <a th:href="@{/perfil/}" class="dashboard-link">
                <i class="fa-regular fa-user"></i>
                Perfil
            </a>
        </nav>
        <div class="footer-nav">
            <div class="usuario">
                <p th:text="${firstLetter}"></p>
                <div class="details">
                    <p th:text="${usuario.username}"></p>
                    <p th:text="${usuario.correo}"></p>
                </div>
            </div>
            <form th:action="@{/logout}" method="post">
                <div class="logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <button type="submit">Logout</button>
                </div>
            </form>
        </div>
    </div>
    <div class="content">
        <a th:href="@{/proyecto/listar-proyectos}" class="volver"><i class="fa-solid fa-arrow-left"></i> Volver al
            Proyecto</a>
        <div class="header-project">
            <div class="details-project">
                <i class="fa-solid fa-hashtag"></i>
                <div>
                    <h3 th:text="${p.titulo}"></h3>
                    <p th:text="${p.descripcion}"></p>
                </div>
            </div>
            <div class="links-action">
                <a th:href="@{/proyecto/anadir-miembro/{id_proyecto}(id_proyecto = ${p.id})}" class="anadir-miembro">
                    <i class="fa-solid fa-user-plus"></i>
                    Añadir miembro
                </a>
                <a th:href="@{/proyecto/crear-tarea/{id_proyecto}(id_proyecto = ${p.id})}" class="anadir-tarea">
                    <i class="fa-solid fa-plus"></i>
                    Añadir Tarea
                </a>
            </div>
        </div>
        <div class="miembros-n-l">
            <i class="fa-solid fa-user-group"></i>
            <div style="display: flex;">
                <div class="firstLetterUsuarios" th:each="l : ${lettersUsuairos}">
                    <p th:text="${l}"></p>
                </div>
            </div>
            <p th:text="${numMiembros}"></p>
            <p>miembros</p>
        </div>
        <div class="body-project">
            <div class="pendiente">
                <div class="header-pendiente">
                    <div>
                        <i class="fa-solid fa-circle"></i>
                        <p>Pendiente</p>
                        <p th:text="${tareasPendientes}"></p>
                    </div>
                    <a th:href="@{/proyecto/crear-tarea/{id_proyecto}(id_proyecto = ${p.id})}"><i
                            class="fa-solid fa-plus"></i></a>
                </div>
                <div class="body-pendite">
                    <div th:each="pend : ${pendiente}" class="card-pendiente">
                        <div class="details-tarea">
                            <div class="titulos">
                                <h3 th:text="${pend.titulo}"></h3>
                                <p th:text="${pend.descripcion}"></p>
                                <p th:text="${#temporals.format(pend.fecha_fin, 'dd MMMM')}"></p>
                            </div>
                            <div class="actions">
                                <a class="comment" th:href="@{/comentario/listar-comentarios-tarea/{tareaId}(tareaId=${pend.id_tarea})}"><i class="fa-regular fa-comment"></i></a>
                                <a
                                    th:href="@{/proyecto/editar-tarea/{id_proyecto}/{id_tarea}(id_proyecto = ${p.id}, id_tarea = ${pend.id_tarea})}"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <form
                                    th:action="@{/proyecto/eliminar/{id_tarea}/{id_proyecto}(id_tarea = ${pend.id_tarea}, id_proyecto = ${p.id})}"
                                    method="post">
                                    <button type="submit"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        <div>
                            <form class="estado-form"
                                th:action="@{/proyecto/cambiar-estado/{id_tarea}(id_tarea=${pend.id_tarea})}"
                                method="post">

                                <input type="hidden" name="id_proyecto" th:value="${pend.proyecto.id}" />

                                <select name="estado" onchange="this.form.submit()">
                                    <option value="pendiente" th:selected="${pend.estado == 'pendiente'}">
                                        Pendiente
                                    </option>

                                    <option value="en_progreso" th:selected="${pend.estado == 'en_progreso'}">
                                        En progreso
                                    </option>

                                    <option value="hecha" th:selected="${pend.estado == 'hecha'}">
                                        Hecha
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="en-proceso">
                <div class="header-en-progreso">
                    <div>
                        <i class="fa-solid fa-circle"></i>
                        <p>En Progreso</p>
                        <p th:text="${tareasEnProseso}"></p>
                    </div>
                </div>
                <div class="body-pendite">
                    <div th:each="enp : ${enProceso}" class="card-pendiente">
                        <div class="details-tarea">
                            <div class="titulos">
                                <h3 th:text="${enp.titulo}"></h3>
                                <p th:text="${enp.descripcion}"></p>
                                <p th:text="${#temporals.format(enp.fecha_fin, 'dd MMMM')}"></p>
                            </div>
                            <div class="actions">
                                <a class="comment" th:href="@{/comentario/listar-comentarios-tarea/{tareaId}(tareaId=${enp.id_tarea})}"><i class="fa-regular fa-comment"></i></a>
                                <a
                                    th:href="@{/proyecto/editar-tarea/{id_proyecto}/{id_tarea}(id_proyecto = ${p.id}, id_tarea = ${enp.id_tarea})}"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <form
                                    th:action="@{/proyecto/eliminar/{id_tarea}/{id_proyecto}(id_tarea = ${enp.id_tarea}, id_proyecto = ${p.id})}"
                                    method="post">
                                    <button type="submit"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        <div>
                            <form class="estado-form"
                                th:action="@{/proyecto/cambiar-estado/{id_tarea}(id_tarea=${pend.id_tarea})}"
                                method="post">

                                <input type="hidden" name="id_proyecto" th:value="${pend.proyecto.id}" />

                                <select name="estado" onchange="this.form.submit()">
                                    <option value="pendiente" th:selected="${pend.estado == 'pendiente'}">
                                        Pendiente
                                    </option>

                                    <option value="en_progreso" th:selected="${pend.estado == 'en_progreso'}">
                                        En progreso
                                    </option>

                                    <option value="hecha" th:selected="${pend.estado == 'hecha'}">
                                        Hecha
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hecha">
                <div class="header-hecha">
                    <div>
                        <i class="fa-solid fa-circle"></i>
                        <p>Hecha</p>
                        <p th:text="${tareasHecha}"></p>
                    </div>
                </div>
                <div class="body-pendite">
                    <div th:each="h : ${hecha}" class="card-pendiente">
                        <div class="details-tarea">
                            <div class="titulos">
                                <h3 th:text="${h.titulo}"></h3>
                                <p th:text="${h.descripcion}"></p>
                                <p th:text="${#temporals.format(h.fecha_fin, 'dd MMMM')}"></p>
                            </div>
                            <div class="actions">
                                <a class="comment" th:href="@{/comentario/listar-comentarios-tarea/{tareaId}(tareaId=${h.id_tarea})}"><i class="fa-regular fa-comment"></i></a>
                                <form
                                    th:action="@{/proyecto/eliminar/{id_tarea}/{id_proyecto}(id_tarea = ${h.id_tarea}, id_proyecto = ${p.id})}"
                                    method="post">
                                    <button type="submit"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        <div>
                            <form class="estado-form"
                                th:action="@{/proyecto/cambiar-estado/{id_tarea}(id_tarea=${pend.id_tarea})}"
                                method="post">

                                <input type="hidden" name="id_proyecto" th:value="${pend.proyecto.id}" />

                                <select name="estado" onchange="this.form.submit()">
                                    <option value="pendiente" th:selected="${pend.estado == 'pendiente'}">
                                        Pendiente
                                    </option>

                                    <option value="en_progreso" th:selected="${pend.estado == 'en_progreso'}">
                                        En progreso
                                    </option>

                                    <option value="hecha" th:selected="${pend.estado == 'hecha'}">
                                        Hecha
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>