* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #ebeffd 0%, #ffffff 50%, #f5ebff 100%);
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}


.side-bar {
    background-color: white;
    border-right: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
}

.logo img:first-child {
    width: 40px;
}

.logo img:last-child {
    width: 100px;
    height: 60px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.dashboard-link {
    text-decoration: none;
    color: #3b3b3b;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.dashboard-link-is-active {
    text-decoration: none;
    color: #481fff;
    background-color: #656ffa49;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    border-radius: 10px;
    border: #481fff 1px solid;
}

.dashboard-link:hover {
    background-color: #bfbfbf81;
    color: #606060;
}

.footer-nav {
    border-top: 1px solid #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 12px;
}

.usuario>p {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3b21ffa2;
    color: white;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: center;
    font-weight: bold;
}

.details p:first-child {
    font-weight: bold;
    font-size: 14px;
}

.details p:last-child {
    font-size: 12px;
    color: gray;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
    padding: 12px;
    cursor: pointer;
    transition: 0.3s;
    gap: 10px;
    width: 230px;
}

.logout button {
    background-color: transparent;
    border: none;
    color: rgb(255, 0, 0);
    font-size: 16px;
}

.logout:hover {
    background-color: #ff000033;
    border-radius: 10px;
}

.content {
    padding: 40px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.titles > p{
    color: #959595;
    font-size: 14px;
}

.header-content > a{
    background-color: #481fff;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 13px;
    text-decoration: none;
}

.tareas {
    background-color: white;
    border: #eee solid 1px;
    border-radius: 15px;
    padding: 150px 50px;
    height: 70vh;
    text-align: center;
}

.tareas > i{
    color: #bcbcbc;
    font-size: 40px;
    padding: 10px;
}

.tareas > p{
    color: #a8a8a8;
    padding: 0 0 20px 0;
}

.tareas > a{
    color: white;
    background-color: #481fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}

.is-not-empty {
    width: 100%;
    height: auto;
}

.tarea-item {
    background-color: white;
    border: #eee 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.first-part-tarea {
    display: flex;
    gap: 20px;
    align-items: center;
}

.details-tarea > h1{
    font-size: 25px;
    font-weight: 300;
}

.details-tarea > p {
    color: #606060;
    font-size: 13px;
    margin-top: 5px;
}

.date-details-tarea{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.date {
    display: flex;
    gap: 5px;
    color: #2b30b9;
}

.actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fa-pen-to-square {
    padding: 10px;
    color: #481fff;
    font-size: 16px;
}

.fa-pen-to-square:hover{
    background-color: #481fff29;
    border-radius: 10px;
}

.fa-trash-can{
    padding: 10px;
    color: red;
    font-size: 16px;
}

.fa-trash-can:hover {
    background-color: rgba(255, 0, 0, 0.139);
    border-radius: 10px;
}

.actions form>button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}